* {
  margin: 0px;
  box-sizing: border-box;
}

.b-page {
  width: 100%;
  min-width: 320px;
  margin: 0px;
  padding: 0px;
}

.b-page__line-wide {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.b-page__line {
  width: 100%;
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.b-wrap {
  width: 100%;
  padding: 0px 15px;
}

.b-align-wrap {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.b-link {
  text-decoration: none;
}

.b-img {
  width: 100%;
  height: 100%;
  display: block;
}

.b-nav {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.b-nav__item {
  display: block;
}

.b-nav__link {
  text-decoration: none;
  font-family: Montserrat-Regular;
}

.b-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #3c3c3c;
  font-family: Montserrat-Bold;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  width: 230px;
  padding: 0px;
  transition: 0.5s ease-in-out;
}

.b-btn:hover {
  cursor: pointer;
}

.b-text-mark {
  background-color: #a6d8d5;
  padding: 5px 20px;
}

.b-page-title {
  font-size: 38px;
  color: #191919;
  text-align: center;
  font-family: Montserrat-Bold;
  padding: 0px 0px 10px;
  text-shadow: 5px 5px 20px #191919;
  text-transform: uppercase;
}

.b-page-text {
  font-size: 18px;
  color: #5f5f5f;
  font-family: Merriweather-Regular;
  text-transform: uppercase;
  text-align: center;
}

.b-title {
  font-family: Merriweather-Bold;
  color: #3c3c3c;
}

.b-text {
  font-family: Raleway-Regular;
  color: #5f5f5f;
}

/*===================================================================== shopno-head start*/
.shopno {
  background-color: #eff0f2;
}

.shopno-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  padding: 70px 0px 204px;
}

.shopno-logo-wrap {
  width: 16.66%;
}

.shopno-logo {
  max-width: 115px;
  height: auto;
}

.shopno-nav-wrap {
  width: 83.33%;
  height: 185px;
  overflow: hidden;
  position: relative;
}

.shopno-menu-btn {
  float: right;
  width: auto;
  height: auto;
}

.shopno-menu-icon {
  font-size: 25px;
  transition: 0.5s ease-in-out;
}

.shopno-menu-icon:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.shopno-nav {
  padding: 0px 30px 0px;
  list-style-type: none;
  right: 300px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  background-color: #a6d8d5;
  width: 150px;
  border-radius: 15px;
  transition: 1s ease-in-out;
}

.show-shopno-nav {
  right: 50px;
  z-index: 1;
  opacity: 1;
}

.shopno-nav__item {
  color: #505050;
  margin: 10px 0px;
}

.shopno-nav__link {
  color: #5e5f5f;
  font-size: 14px;
  transition: 0.5s ease-in-out;
}

.shopno-nav__link:hover {
  text-shadow: 2px 2px 5px #5e5f5f;
}

.shopno-head-text-wrap {
  width: 100%;
}

.shopno-head-title-box {
  text-transform: uppercase;
  text-align: center;
}

.shopno-head-title {
  color: #505050;
  font-size: 45px;
  font-family: Montserrat-Bold;
  text-shadow: 5px 7.5px 15px #505050;
  padding: 5px 0px;
}

.shopno-head-btn {
  border: 2px solid #787878;
  margin: 140px 0px 195px;
}

.shopno-head-btn:hover {
  text-shadow: 5px 2.5px 10px #3c3c3c;
  background-color: #abd7d4;
}

.shopno-head-btn__link {
  color: #3c3c3c;
  text-transform: uppercase;
}

/*===================================================================== shopno-head end*/
/*===================================================================== about-us start*/
.about-us-bg {
  background-color: #f8fafa;
}

.about-us {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
}

.about-us-title-box {
  padding: 125px 0px;
  max-width: 620px;
  margin: 0px auto 0px;
  text-align: center;
}

.about-us-img-wrap {
  width: 50%;
}

.about-us-img-box {
  margin: 0px auto 70px;
  overflow: hidden;
  max-width: 465px;

  transition: 0.5s ease-in-out;
}

.about-us-img-box:last-child {
  margin: 0px auto 125px;
}

.about-us-img-box:hover {
  box-shadow: 5px 5px 20px #5e5f5f;
}

.about-us-img-style {
  max-height: 230px;
  min-height: 230px;
  margin: 0px auto;
  transition: 0.5s ease-in-out;
}

.about-us-img-style:hover {
  transform: scale(1.1);
}

.about-us-info-wrap {
  width: 50%;
}

.about-us-info-box {
  width: 100%;
  max-width: 480px;
  margin: 0px auto 125px;
}

.about-us-info-box__title {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 0px 25px;
  text-align: center;
}

.about-us-info-box__text,
.about-us-info-box__text-mid {
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
}

.about-us-info-box__text-mid {
  padding: 40px 0px;
}

/*===================================================================== about-us end*/
/*===================================================================== featured-works start*/
.featured-works-bg {
  background-color: white;
}

.featured-works {
  padding: 0px 15px 125px;
}

.featured-works-wrap {
  width: 100%;
}

.featured-works-title-box {
  max-width: 620px;
  margin: 0px auto;
  text-align: center;
  padding: 125px 0px 110px;
}

.featured-works-img-wrap {
  width: 33.33%;
}

.featured-works-img-box {
  overflow: hidden;
  margin: 15px auto;
}

.featured-works-img-style {
  transition: 0.5s ease-in-out;
  margin: 0px auto;
}

.featured-works-img-style:hover {
  transform: scale(1.1);
  border-radius: 50%;
}

.featured-works-img-style {
  max-height: 360px;
  min-height: 360px;
}

/*===================================================================== featured-works end*/
/*===================================================================== our services start*/
.our-services-bg {
  background-color: #f8fafa;
}

.our-services {
  padding: 0px 15px 125px;
}

.our-services-title-wrap {
  width: 100%;
}

.our-services-title-box {
  text-align: center;
  padding: 125px 0px 110px;
}

.our-services-text-wrap {
  width: 58.33%;
  padding: 15px;
}

.our-services-text-box {
  padding: 60px 70px;
  margin: 0px auto;
}

.our-services-bg-color {
  background-color: #85f6eb;
  width: 100%;
  height: 100%;
}

.our-services-text-box__title {
  padding: 0px 0px 40px;
  font-size: 20px;
  text-transform: uppercase;
}

.our-services-text-box__text {
  font-size: 16px;
  line-height: 28px;
}

.our-services-img-wrap-normal {
  width: 41.66%;
}

.our-services-img-wrap-wide {
  width: 58.33%;
}

.our-services-img-box-wide,
.our-services-img-box-normal {
  position: relative;
  margin: 15px auto;
}

.our-services-img-box-wide:hover .our-services-img-info,
.our-services-img-box-normal:hover .our-services-img-info {
  opacity: 0;
  z-index: -1;
}

.our-services-img-box-wide:hover .our-services-img-bg,
.our-services-img-box-normal:hover .our-services-img-bg {
  height: 0%;
}

.our-services-img-box-wide:hover .our-services-img-box-link,
.our-services-img-box-normal:hover .our-services-img-box-link {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 1;
}

.our-services-img-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.our-services-img-style-wide,
.our-services-img-style-normal {
  max-height: 370px;
  min-height: 370px;
}

.our-services-img-style-wide-high,
.our-services-img-style-normal-high {
  max-height: 420px;
  max-height: 420px;
}

.our-services-img-info {
  width: 85%;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 15%;
  padding: 0px 20px;
  transition: 1s ease-in-out;
}

.our-services-img-info__title {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 0px 25px;
  color: white;
}

.our-services-img-info__text {
  font-size: 16px;
  line-height: 28px;
  color: white;
}

.our-services-img-box-link {
  position: absolute;
  z-index: -1;
  bottom: 10%;
  left: 15%;
  color: white;
  font-size: 19px;
  font-family: Raleway-Regular;
  text-transform: uppercase;
  padding: 5px;
  opacity: 0;
  transition: 1s ease-in-out;
}

.our-services-img-box-link:hover {
  color: #84f5ea;
}

.our-services-link-item {
  padding: 0px 0px 0px 5px;
}

/*===================================================================== our services end*/
/*===================================================================== small-team start*/
.small-team-bg {
  background-color: white;
}

.small-team {
  padding: 0px 15px 125px;
}

.small-team-wrap {
  width: 100%;
}

.small-team-box {
  text-align: center;
  padding: 125px 0px 115px;
}

.small-team-img-wrap {
  width: 33.33%;
  perspective: 1000px;
}

.small-team-img-box {
  margin: 15px auto;
  position: relative;
  transition: 1s ease-in-out;
}

.small-team-img-box:hover {
  transform: rotateY(180deg);
}

.small-team-img-box:hover .small-team-info-box {
  transform: rotateY(180deg);
  opacity: 1;
  z-index: 0;
}

.small-team-img-style {
  max-height: 440px;
  min-height: 440px;
  margin: 0px auto;
}

.small-team-info-box {
  position: absolute;
  bottom: 5%;
  width: 90%;
  left: 5%;
  padding: 40px;
  background-color: #85f6eb;
  opacity: 0;
  box-shadow: 5px 10px 20px #5e5f5f;
  z-index: -1;
  transition: 1s ease-in-out;
}

.small-team-info-box__title-1 {
  padding: 0px 0px 25px;
  font-size: 18px;
}

.small-team-info-box__title-2 {
  font-size: 14px;
  font-style: italic;
}

.small-team-info-box__text {
  font-size: 16px;
  line-height: 24px;
  font-family: Raleway-Regular;
}

.small-team-links-box {
  margin: 40px 0px 0px;
}

.small-team-links {
  color: #5e5f5f;
  padding: 0px 10px;
}

.small-team-links:first-child {
  padding: 0px 10px 0px 0px;
}

/*===================================================================== small-team end*/
/*===================================================================== what-they start*/
/* for vertical slides align*/
.slick-initialized .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.what-they-bg {
  background-color: #f8fafa;
}

.what-they {
  padding: 0px 15px 125px;
}

.what-they-wrap {
  width: 100%;
}

.what-they-title-box {
  padding: 125px 0px;
}

.what-they-align {
  position: relative;
}

.what-they-slider-box {
  width: 100%;
}

.what-they-bg-layer {
  position: absolute;
  width: 395px;
  left: 15px;
  height: 100%;
  max-height: 353px;
  top: 5%;
  z-index: -1;
  background-color: #eaebed;
}

.what-they-img-wrap {
  width: 100%;
  max-width: 450px;
  padding: 0px 40px 0px 15px;
  position: relative;
}

.what-they-img-style {
  max-width: 320px;
  max-height: 390px;
  min-height: 390px;
  margin: 0px auto;
}

.what-they-text-wrap {
  width: 100%;
  max-width: 748px;
  padding: 0px 15px 0px 40px;
}

.what-they-text-box {
  text-align: center;
  padding: 80px 70px 65px;
  background-color: #eaebed;
}

.what-they-text-box__title-1 {
  color: #191919;
  padding: 0px 0px 25px;
  font-size: 18px;
}

.what-they-text-box__title-2 {
  font-size: 14px;
  font-style: italic;
  color: #5e5f5f;
}

.what-they-text-box__text {
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

.what-they-rating {
  margin: 30px 0px 0px;
}

.what-they-rating__stars {
  color: #efd922;
  padding: 0px 2px;
}

.what-they-dots {
  position: absolute;
  bottom: -45px;
  left: 122.5px;
  display: block;
  width: auto;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.what-they-dots li {
  display: inline-block;
  position: relative;
  margin: 0px 5px;
  cursor: pointer;
}

.what-they-dots li button {
  font-size: 0px;
  line-height: 0px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

.what-they-dots li button:hover,
.what-they-dots li button:focus {
  outline: 0px;
}

.what-they-dots li button:hover:before,
.what-they-dots li button:hover:after {
  opacity: 1;
  color: #85f6eb;
}

.what-they-dots li button:before {
  font-family: "slick";
  font-size: 20px;
  content: "\2580";
  line-height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.25;
  color: #5e5f5f;
}

.what-they-dots li.slick-active button:before {
  opacity: 0.75;
  color: #85f6eb;
}

.what-they-ctrl-btns {
  width: 120px;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -75px;
  right: 15px;
}

.what-they-ctrl-btn__prev,
.what-they-ctrl-btn__next {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #5e5f5f;
  background-color: white;
  transition: 0.5s ease-in-out;
}

.what-they-ctrl-btn__prev:hover,
.what-they-ctrl-btn__next:hover {
  background-color: #85f6eb;
  cursor: pointer;
}

.what-they-ctrl-btn__prev {
  margin: 0px 10px 0px 0px;
}

.what-they-ctrl-btn__next {
  margin: 0px 0px 0px 10px;
}

/*===================================================================== what-they end*/
/*===================================================================== partners start*/
.partners-bg {
  background-color: white;
}

.partners {
  padding: 95px 15px;
}

.partners-align {
  align-items: center;
}

.partners-wrap {
  width: 33.33%;
}

.partners-img-style {
  max-width: 130px;
  height: auto;
  margin: 30px auto;
}

/*===================================================================== partners end*/
/*===================================================================== location start*/
.location-bg {
  background-image: url("../img/location_bg.jpg");
}

.location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.location-message-wrap {
  width: 58.33%;
}

.location-message-box,
.location-adress-box {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0px 0px 125px;
  padding: 30px;
  height: 460px;
  position: relative;
}

.location-message-box__item,
.location-adress-box__item {
  font-size: 15px;
  font-family: Raleway-Regular;
  color: #b1b9bf;
}

.location-message-box__item {
  width: 100%;
  float: left;
}

.location-message-box__item:last-of-type {
  margin: 0px 0px 0px;
}

.location-adress-box__item {
  margin: 0px 0px 10px;
}

.location-adress-box__item:nth-of-type(5) {
  margin: 25px 0px 10px;
}

.location-adress-box__link {
  color: #b1b9bf;
  transition: 0.5s ease-in-out;
}

.location-adress-box__link:hover {
  color: #85f6eb;
}

.location-message-box__input,
.location-message-box__textarea {
  background: unset;
  border: none;
  border-bottom: 2px solid #6e7981;
  outline: none;
  max-width: 400px;
  min-width: 400px;
  margin: 0px 0px 10px;
  height: 30px;
  line-height: 30px;
  color: #b1b9bf;
  font-size: 16px;
  float: right;
}

.location-message-box__textarea {
  max-height: 97px;
  min-height: 97px;
}

.location-message-box__textarea:focus {
  color: #b1b9bf;
  font-size: 16px;
}

.location-message-box__btn {
  background-color: #85f6eb;
  color: #264744;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.location-message-box__btn:hover {
  background-color: #85f6eb;
  text-shadow: 5px 5px 20px;
}

.location-adress-wrap {
  width: 41.66%;
}

.location-adress-link {
  max-width: 407px;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.location-adress-img-style {
  margin: 0px auto;
  max-height: 208px;
  min-height: 208px;
}

/*===================================================================== location end*/
/*===================================================================== footer start*/
.footer-bg {
  background-color: #272b2e;
}

.footer {
  padding: 90px 15px;
}

.footer-wrap {
  width: 100%;
}

.footer-title-1,
.footer-title-2 {
  color: #d4d5d5;
  font-size: 16px;
  font-family: Raleway-Regular;
  text-transform: uppercase;
  text-align: center;
}

.footer-title-2 {
  color: #7d8082;
  text-transform: unset;
}

.footer-box-link {
  padding: 20px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #424648;
  margin: 0px 10px;
  text-align: center;
  color: #bbb8b9;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}

.footer-links:hover {
  background-color: #85f6eb;
  color: black;
  transform: rotate(360deg);
  border-radius: 100%;
}

/*===================================================================== footer end*/
F

/*===================================================================== fonts start*/
@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat-Regular-ttf.ttf");
  src: url("../fonts/Montserrat-Regular-wof.wof");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold-ttf.ttf");
  src: url("../fonts/Montserrat-Bold-wof.wof");
}

@font-face {
  font-family: Merriweather-Regular;
  src: url("../fonts/Merriweather-Regular-ttf.ttf");
  src: url("../fonts/Merriweather-Regular-wof.wof");
}

@font-face {
  font-family: Merriweather-Bold;
  src: url("../fonts/Merriweather-Bold-ttf.ttf");
  src: url("../fonts/Merriweather-Bold-wof.wof");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway-Regular-ttf.ttf");
  src: url("../fonts/Raleway-Regular-wof.wof");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold-ttf.ttf");
  src: url("../fonts/Raleway-Bold-wof.wof");
}

/*===================================================================== fonts end*/
